body {
  font-family: Suit-normal, SUITE-Regular,Inter, WorkSans,CucumberSalad,system-ui, GabiaSai,Avenir, Helvetica, Arial,Worksans;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(252, 251, 247, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  text-align: center;
  margin: 0 auto;
  min-width: 280px;
  display: flex;
  justify-content: center;
  background-color: #f5f1dc;
}

@font-face {
  font-family: 'SUITE-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405@1.0/SUITE-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'Suit';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: 'Suit-normal';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}


@font-face {
    font-family: 'KotraGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/KOTRA_GOTHIC.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

@font-face {
  font-family: 'WorkSans';
  src: url('https://fonts.gstatic.com/s/worksans/v12/QGYsz_wNahGAdqQ43Rh_fKdp.woff2') format('woff2');
  font-weight: 400; /* normal */
  font-style: bold;
  font-display: swap;
}

@font-face {
  font-family: 'CucumberSalad';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_cucumbersalad.woff2') format('woff2');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GabiaSai';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2510-1@1.0/GabiaSai-Regular.woff2') format('woff2');
  font-weight: normal;
  font-display: swap;
}