body {
  font-family: Pretendard,Campton,Pretendard2,Pretendard3,Suit-700,Inter,CucumberSalad,system-ui,
    Helvetica, Arial;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(252, 251, 247, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  text-align: center;
  margin: 0 auto;
  min-width: 280px;
  display: flex;
  justify-content: center;
  background-color: #f3f1ea;
}





@font-face {
  font-family: 'Suit-700';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}


@font-face {
    font-family: 'KotraGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/KOTRA_GOTHIC.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}


@font-face {
  font-family: 'CucumberSalad';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_cucumbersalad.woff2') format('woff2');
  font-weight: normal;
  font-display: swap;
}




@font-face {
  font-family: 'Pretendard2';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}


@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Campton";
  src: url("./assets/font/CamptonMedium.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard3';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}